/* Centering the Dashboard */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: rgb(166, 170, 174);
    text-align: center;
}

/* Welcome Heading */
h1 {
    font-size: 48px;
    color: white; /* Red */
    margin-bottom: 15px;
}

/* Paragraph Styling */
p {
    font-size: 18px;
    color: #333;
    max-width: 600px;
    line-height: 1.5;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

/* List Styling */
li {
    list-style: none;
    margin-top: 10px;
}

/* Create Car Link */
li a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: red;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
    box-shadow: 2px 4px 6px;
}

li a:hover {
    background-color: 
}
