/* SignUpForm.css */

/* Center the form on the screen */
 .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    
} 
/* Form container*/
.form-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    
} 
Error message
.error-message {
    color: red;
    text-align: center;
    margin-bottom: 0.5rem;
}

input[type="text"],
input [type="password"]  {
  width: 15%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 2px 4px 6px;
  margin: 10px 0;
  font-size: 16px;
  padding: 5px;
  color: red;
  
}

button:not(:disabled) {
    background: white;
    color: rgb(203, 32, 52);
    font-weight: bold;
    padding: 8px;
    box-shadow: 2px 4px 6px;
    margin: 10px 5px ;
}

button[type="button"]:hover {
    background: #bbb;
}

/* Labels
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
} */

Checkbox
input[type="checkbox"] {
    margin-right: 10px;
  }

  /* Button styles */
.button-group {
    display: flex;
    gap: 10px;
    
}

button {
    flex: 1;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #d0c7c7;
    display: inline-block;
    color: red;
     box-shadow: 2px 4px 6px;
    color: red;
    
  
}

button:disabled {
    background:rgb(166, 170, 174);
    transform: scale(1.05);
    
}

/* Sign Up button */
.sign-up-btn {
    background:  red;
   
   
}

.sign-up-btn:hover {
    background: white;
    
}

/* Cancel button */
.cancel-btn {
    background: red;
    
    




    
    
  
}

